@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body{
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* ----------------------------  Header o Tope de pag ----------------------------  */
a{
    text-decoration: none;
}
ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    gap: 9px;
}

button.headerbutton{
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 8px 16px;
    border-radius: 5px;
    border: #3882f6;
    font-weight: 900;
}

.header{
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: #1f2937;
    color: white;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 10px 10%;
}
.Logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

/* ----------------------------  Content1 o Contenido Header ----------------------------  */
.content1{
    display: flex;
    align-content: center;
    gap:25px;
}

.content-right img{
    padding: 8% 6%;
    width: 75%;
    height: auto;
}

.content-right{
    display: flex;
    justify-content: center;
    align-items: center;
}


.left, .right{
  display: flex;
  align-items: center;

}

.content-left h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.content-right p, a {
    font-size: 18px;
    color: #e5e7eb;
}

/* ----------------------------  Main Content ----------------------------  */
.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
}

/* ----------------------------  Content2 ----------------------------  */
.subtitle{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    padding-bottom: 8%;
    color: #1f2937;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text{
text-align: center;
}

.items{
    display: flex;
    gap: 52px;
    justify-content: center;
    flex-wrap: wrap;

}

.item img {
    width: 125px;
    height: 125px;
    border: 5px solid #3882f6;
    border-radius: 8px;
}

/*---------------------------- content3 ----------------------------*/
.content3{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
}
 
.signature{
    align-self: flex-end;
    font-weight: 900;
}

.allthequote{
    display: flex;
    flex-direction: column;
    font-style: italic;
}


/* ----------------------------  content4 ----------------------------  */
.content4{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bluecont{
    display: flex;
    background-color: #3882f6;
    padding: 15px 10%;
    gap:15px;
    color: #e5e7eb;
    border-radius: 15px;
}

.modalbuttom{
    display: flex;
    align-items: center;
    justify-items: center;
}

button.signup-modal{
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 8px 16px;
    border-radius: 5px;
    border: #3882f6;
    font-weight: 900;
    border: 1px solid white;
}


/* ----------------------------  Footer ----------------------------  */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    height: 50px;
    color: #e5e7eb;
}

/* ----------------------------  details ----------------------------  */
.content1, .content2,
.content3, .content4{
    padding: 10%;
}
